[submodule "XIV on Mac/XIVLauncher.NativeAOT/source"]
	path = XIV on Mac/XIVLauncher.NativeAOT/source
url=https://github.com/PlusoneChiang/FFXIVQuickLauncher.git
[submodule "XIV on Mac/wine-builder/source"]
	path = XIV on Mac/wine-builder/source
	url = https://github.com/marzent/winecx
