# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/XIV\ on\ Mac/wine/
/XIV\ on\ Mac/wine-builder/result
/XIV\ on\ Mac/wine-builder/packaged-nix-output
/XIV\ on\ Mac/XIVLauncher.NativeAOT/XIVLauncher.NativeAOT.dylib
/XIV\ on\ Mac/XIVLauncher.NativeAOT/libsteam_api64.dylib
UserInterfaceState.xcuserstate

# Personal user data files
xcuserdata/
